<!-- inventory module page -->
{% extends 'base_layout.html' %}

{% block content %}
{{ super() }}
{% include 'inventory/buyNowModal.html' %}
<div class="container-fluid">
    <div class="row-fluid image-area-row">
        <img class="img-fluid banner-image img-rounded" src="/static/img/top_image.JPG">
    </div>
    <div class="row-fluid jumbotron main-area-row">
        <h2>Available Coffee Stock</h2>
        <div id="tableDiv"></div>
    </div>
    <div class="row-fluid image-area-row">
        <img class="img-fluid banner-image img-rounded" src="/static/img/bottom_image.JPG">
    </div>
</div>

{% block footer %}
<footer class="page-footer font-small navbar-inverse">
    <div class="footer-copyright text-center py-3" style="color: white;">Owned by
          <a href="mailto:sanmarcosroastingco@gmail.com">Charles Cruz</a>
    </div>
</footer>
{% endblock footer %}

{% endblock content %}

{% block scripts %}
{{ super() }}
<script>
$(document).ready(function () {
    getTableDiv("{{ url_for('inventory_bp.getinventorytable') }}");
});
</script>
{% endblock scripts %}