.main-area-row {
    padding: 15px;
    border: solid black;
}

.image-area-row {
    padding: 15px;
}

.banner-image {
    width: 100%;
    object-fit: cover;
}

body {
    background-image: url("/static/img/background.JPG");
}