<!-- inventory module page -->
{% extends 'base_layout.html' %}

{% block content %}
{{ super() }}
{% include 'components/buyNowModal.html' %}
<div class="container-fluid">
    <div class="row image-area-row">
        <img class="img-fluid banner-image img-rounded" src="/static/img/top_image.JPG">
    </div>
    <div class="row jumbotron main-area-row">
        <h2><u>Available Coffee Stock</u></h2>
        <div id="tableDiv"></div>
    </div>
    <div class="row image-area-row">
        <img class="img-fluid banner-image img-rounded" src="/static/img/bottom_image.JPG">
    </div>
</div>

{% include 'components/footer.html' %}
{% endblock content %}

{% block scripts %}
{{ super() }}
<script>
$(document).ready(function () {
    getTableDiv("{{ url_for('inventory_bp.getinventorytable') }}");
});
</script>
{% endblock scripts %}