{% extends 'admin/master.html' %}
{% block body %}
    {{ super() }}
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <h1>Inventory Admin</h1>
                <p class="lead">
                    Authentication
                </p>
                <p>
                    Manage users, roles, schedules.<BR>
                    Go back to
                </p>
                {% if not current_user.is_authenticated %}
                <p>Authenticated Area</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock body %}